<div class="container" id="about">
{{#each employees}}
  <div class="row jumbotron" id="employee">
    <div class="col">
      <img src={{this.imagePath}} width='300' height='300'>
    </div>

    <div class="col">
      <div class="row">
        <h3>{{this.name}}</h3>
      </div>
      <div class="row">
        <h5>{{this.jobTitle}}</h5>
      </div>
       <div class="row">
        <p>{{this.description}}</p>
       </div>       
      <div class="row justify-content-center" id="icon">
        <a href={{this.twitter}}>
            <i class="fa fa-twitter fa-lg"></i>
        </a>
        <a href={{this.facebook}} >
            <i class="fa fa-facebook fa-lg"></i>
        </a>
        <a href={{this.linkedin}}>
            <i class="fa fa-linkedin fa-lg"></i>
        </a>
        
       
      </div>
    </div>

  </div>
{{/each}}
</div>