<div class="container" id="about">
{{#each employees}}
  <div class="row">
    <div class="col big-box">
      <img src={{this.imagePath}} width='300' height='300'>
    </div>

    <div class="col">
      <div class="row">
        <h4>{{this.name}}</h4>
        <h4>{{this.jobTitle}}</h4>
        <p>{{this.description}}</p>
      </div>
      <div class="row justify-content-center" id="icon">
        <a href={{this.twitter}} class="fa fa-twitter fa-lg"></a>
        <a href={{this.facebook}} class="fa fa-facebook fa-lg"></a>
        <a href={{this.linkedin}} class="fa fa-linkedin fa-lg"></a>
       
      </div>
    </div>
{{/each}}
  </div>
</div>